{% extends 'workshop/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h3>{{ customer.name }}</h3>  
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-3 bg-light">
      <h5>Details:</h5>
      <form action="{% url 'workshop:customerDetail' customer.id %}" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-outline-danger">Delete</button>
      </form>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
        <h6 class="">Vehicles:</h6>
        {% include 'workshop/lists/vehicles.html' %}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6>Jobs:</h6>
          {% include 'workshop/lists/tasks.html' %}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6>Invoices:</h6>
          {% include 'workshop/lists/invoices.html' %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
