{% extends 'workshop/base.html' %}
{% block content %}
  {% if user.is_authenticated %}
    <div class="container">
      <div class="row mb-3">
        {% include "workshop/dashboard/reports/sales_report.html" %}
      </div>
      <div class="row mb-3">
        {% include "workshop/dashboard/reports/needs_attention.html" %}
        {% include "workshop/dashboard/reports/totals.html" %}
      </div>
      <div class="row mb-3">
        <div class="col-sm-12 col-lg-6">
          <div class="lead text-center p-1 mb-2 border-bottom">Recent tasks:</div>
          
          {% include "workshop/dashboard/lists/tasks.html" %}
        </div>
        <div class="col-sm-12 col-lg-6 mb-3">
          <div class="lead text-center p-1 mb-2 border-bottom">Recent invoices</div>
          
          {% include "workshop/dashboard/lists/invoices.html" %}
        </div>
      </div>
    </div>
  {% else %}
  <h1>You are not logged in</h1>
  {% endif %}
{% endblock %}
