{% extends 'workshop/base.html' %}
{% block content %}
<div class="container">
  {% if tasks_uninvoiced_count %}
  <div class="alert alert-warning">
    You have <a class="text-muted p-1 border border-dark rounded" href="{% url 'workshop:taskList' %}">{{ tasks_uninvoiced_count }}</a> uninvoiced tasks.
  </div>
  {% endif %}
  <div class="row">
    {% if invoices %}
    <ul>
      {% for invoice in invoices %}
        <li><a href="{% url 'workshop:invoiceDetail' invoice.id %}">{{ invoice }}</a></li>
      {% endfor %}
    </ul>

    {% else %}
    <p>No invoices.</p>
    {% endif %}
  </div>
</div>

{% endblock %}
