{% extends 'workshop/base.html' %}
{% block content %}
    {% if user.is_authenticated %}

    <div class="container">
      <div class="d-block d-md-none">
        <a class="nav-link add-task" href="#"><i class="fas fa-plus fa-sm"></i> Add new task</a>
      </div>
      <div class="row">
        {% if tasks %}
        <h2> Tasks: </h2>
        <div class="container">
          {% include 'workshop/lists/tasks.html' %}
        </div>
        {% else %}
          <p>You have no tasks.</p>
        {% endif %}
      </div>
    </div>
    {% else %}
    <h1>You are not logged in</h1>
    {% endif %}
{% endblock %}
