{% extends 'workshop/base.html' %}
{% block content %}
<div class="container h-100">
  <div class="row">
    <div class="col">
      <div class="container">
        <div class="row p-2">
          <div class="col">
              <h4>Tasks</h4>
          </div>
        </div>
        <div class="row">
          <div class="col">
          {% if tasks %}          
          {% include 'workshop/lists/tasks_thick.html' %}
          {% else %}
          <div class="col text-center bg-light text-secondary p-5">
            <h2>No tasks</h2>
            <p><a href="/"><i class="far fa-edit fa-lg mx-2"></i>add task</a></p>
          </div>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
